@import 'nav.css';
@import 'fish.css';

body {
  background-color: goldenrod;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.fish__image {
  max-width: 100%;
}

aside{
  flex-basis: 26%;
  border: 1px solid red;
  padding: 0 5px;
}

.highlightTips {
  border: 5px solid red;
}